<ion-view id="loading" view-title="Strikethru">

  <ion-content padding="true" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/notebook.jpg) center; background-size: cover;">
    <section class="login-container">
      <div class="col">
        <h1 class="title">Loading ...</h1>
      </div>
      <div class="col loading">
        <img src="img/circles_rotate.gif">
      </div>
      <div class="col">
        <p>Waiting to get a connection with backend...</p>
      </div>

    </section>

  </ion-content>
</ion-view>
