<ion-view id="loginpage" view-title="Strikethru">

  <ion-content padding="true" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/notebook.jpg) center; background-size: cover;">
    <section class="login-container">
            <div class = "col">
               <h1 class="title">Strikethru</h1>

              <blockquote cite="http://striketh.ru/blog/2015/11/17/strikethru-an-alternative-productivity-system">
                "Too stupid for GTD, too lazy for Bullet Journal"
              </blockquote>
              <p>Strikethru is a productivity method originally created by <a href="http://striketh.ru/my-story">Chris Kyle</a> . This is a free digital implementation of the <a href="http://striketh.ru/the-notebook/">Strikethru notebook</a>.
                </p>
              </div>
            <div class = "col button-row">
                 <button ng-click="loginGoogle()" class="button button-block button-assertive icon ion-social-google">LOGIN WITH GOOGLE</button>
            </div>

        </section>

  </ion-content>
</ion-view>
