<ion-view id="loginpage" view-title="Strikethru">

  <ion-content padding="true" style="background: url(img/notebook.jpg) center; background-size: cover;">
    <div style="text-align: center; color: white;">
      <h1 class="title">Strikethru</h1>
    </div>
    <blockquote cite="http://striketh.ru/blog/2015/11/17/strikethru-an-alternative-productivity-system">
      "Too stupid for GTD, too lazy for Bullet Journal"
    </blockquote>
    <quote></quote>
    <p>Strikethru is a productivity method originally created by <a href="http://striketh.ru/my-story">Chris Kyle</a> . This is a free digital implementation of the <a href="http://striketh.ru/the-notebook/">Strikethru notebook</a>.
    </p>
    <div class="padding">
      <button ng-click="loginGoogle()" class="button button-block button-positive icon ion-social-google">LOGIN WITH GOOGLE</button>
    </div>
  </ion-content>
</ion-view>
