<ion-view view-title="The vault">
  <ion-nav-buttons side="right" ng-show="true">
    <a class="button button-icon button-clear ion-plus-round" ui-sref="tab.vault-detail({vaultId:null})"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right vault-item" ng-repeat="item in vaultItems" type="item-text-wrap" href="#/tab/vault/{{item.$id}}">
        <div class="row">
          <div class="col">
            <h1>{{item.label}}</h1>
          </div>
          <div class="col col-75">
            <h2>{{item.name}}</h2>
            <read-more text="item.description" limit="30"></read-more>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </div>
        <div class="item-options">
          <ion-option-button class="button-assertive" ng-click="remove(item)">
            <i class="icon ion-trash-b"></i>
            <div class="label">Trash</div>
          </ion-option-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
