<ion-view view-title="Setup">
  <ion-content>
    <ul class="list">
      <li class="item item-input item-select">
        <div class="input-label">
          Strikethru setup
        </div>
        <select ng-model="setup.strikethru">
            <option>Lite</option>
            <option selected>Standard</option>
            <option>Pro</option>
          </select>
      </li>
      <li class="item item-toggle">
        Enable 1-3-5 prioritize rule
        <label class="toggle toggle-positive">
           <input type="checkbox" ng-model="setup.rule135">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-button-right">
        Clear and delete all done tasks
        <button class="button button-assertive">
          <i class="icon ion-trash-b"></i>
        </button>
      </li>

    </ul>
    <div class="card">

      <div class="item item-divider">
        Current logged in user
      </div>
      <div class="item item-avatar">
        <img ng-src="{{settings.user.photoURL}}">
        <h2>{{settings.user.displayName}}</h2>
        <p>({{settings.user.email}})</p>
      </div>
      <div class="padding" ng-controller="loginCtrl">
        <button ng-click="logout()" class="button button-block button-assertive icon ion-log-out "> Logout</button>
      </div>
    </div>



  </ion-content>
</ion-view>
