<ion-view view-title="{{todo.title||'New task'}}">

  <ion-content class="todo-form">
    <input type="hidden" name="id" ng-model="todo.$id">
    <div class="list">
      <div class="item item-input-inset title">
        <label class="item-input-wrapper">
          <input class="title-input" type="text" placeholder="Task" ng-model="todo.title">
        </label>

        <button class="button button-assertive title-button button-small"  ng-click="choosePriority($event,todo);">{{todo.priority||" "}}</button>
      </div>

      <label class="item item-input description">
        <textarea placeholder="Additional information" ng-model="todo.description"></textarea>
      </label>
      <div class="row duedate" ng-show="checkSetup('Pro')">
        <label class="col item item-input">Due date</label>
        <div class="item col col-50" ion-datetime-picker ng-model="todo.date">
          {{ (todo.date |date: "dd-MM-yyyy H:mm") || "No due date defined" }}
        </div>
        <div class="col text-right">
          <button class="button icon ion-android-calendar button-positive button-small" ng-click="createEvent()"></button>
        </div>
      </div>
      <label class="item item-input done">
        <ion-checkbox ng-model="todo.done">Task done</ion-checkbox>
      </label>
    </div>
    <div class="padding">
      Move task to
    </div>
    <div class="button-bar">

      <button class="button button-energized" ng-hide="hideButton('livelist')" ng-click="moveToList('livelist')">
        <i class="icon ion-android-checkbox"></i>
        <div class="label">Live list</div>
      </ion-option-button>
      <button class="button button-calm" ng-hide="hideButton('vault')" ng-show="checkSetup('Standard')" ng-click="moveToList('vault')">
        <i class="icon ion-android-apps"></i>
        <div class="label">Vault</div>
      </ion-option-button>
      <button class="button button-balanced" ng-hide="hideButton('dump')"  ng-click="moveToList('dump')">
        <i class="icon ion-android-bulb"></i>
        <div class="label">Dump</div>
      </ion-option-button>
      <button class="button button-assertive" ng-click="remove(todo)">
        <i class="icon ion-trash-b"></i>
        <div class="label">Trash</div>
      </ion-option-button>
  </div>

  </ion-content>
</ion-view>
