<ion-list>
  <ion-item
  class="item-remove-animate item-icon-right todo-item"
  ng-repeat="todo in todos" type="item-text-wrap"
  ng-class="{'done' : todo.done}"
  ng-href="{{baseHref}}/todo/{{todo.$id}}"
  on-swipe-right="onSwipeRight({{todo.$id}})">

    <h2>{{todo.title}}</h2>
    <p>{{todo.description}}</p>
    <p class="item-date">
      <i class="icon ion-android-time"></i>
      <span class="no-duedate" ng-hide="todo.date">Not due date defined</span>
      <span class="date">
          {{ todo.date | date:'dd/MM/yy'}}
          {{ todo.date | date:'HH:mm'}}
      </span>
    </p>

    <i class="icon ion-chevron-right icon-accessory"></i>

    <div class="item-options">
      <ion-option-button class="button-energized" ng-hide="hideButton('livelist')" ng-click="">
        <i class="icon ion-android-checkbox"></i>
        <div class="label">Live list</div>
      </ion-option-button>
      <ion-option-button class="button-calm" ng-hide="hideButton('vault')"  ng-click="">
        <i class="icon ion-android-apps"></i>
        <div class="label">Vault</div>
      </ion-option-button>
      <ion-option-button class="button-balanced" ng-hide="hideButton('dump')"  ng-click="">
        <i class="icon ion-android-bulb"></i>
        <div class="label">Dump</div>
      </ion-option-button>
      <ion-option-button class="button-assertive" ng-click="remove(item)">
        <i class="icon ion-trash-b"></i>
        <div class="label">Trash</div>
      </ion-option-button>
  </div>
  </ion-item>
</ion-list>
