<ion-view view-title="{{todo.title||'New task'}}">

  <ion-content class="todo-form">
    <input type="hidden" name="id" ng-model="todo.id">
    <div class="list">
      <label class="item item-input title">
        <input type="text" placeholder="Task" ng-model="todo.title">
      </label>
      <label class="item item-input description">
        <textarea placeholder="Additional information" ng-model="todo.description"></textarea>
      </label>
      <div class="row duedate">
        <label class="col col-25 item item-input">Due date</label>
        <div class="item col col-75" ion-datetime-picker ng-model="todo.date">
          {{todo.date |date: "dd-MM-yyyy H:mm"}}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
