<ion-view view-title="{{todo.title||'New task'}}">

  <ion-content class="">
    <input type="hidden" name="id" value="{{todo.id}}">
    <div class="list">
      <label class="item item-input">
        <h1><input type="text" placeholder="Task" value="{{todo.title}}"></h1>
      </label>
      <label class="item item-input">
        <textarea placeholder="Additional information" value="{{todo.description}}"></textarea>
      </label>
      <label class="item item-input">
        <input type="time" value="{{todo.date}}"
      </label>
    </div>

  </ion-content>
</ion-view>
