<ion-view view-title="{{vault.name ||'New vault category'}}">
  <ion-nav-buttons side="right" ng-show="true">
    <a class="button button-icon button-clear ion-plus-round" ui-sref="tab.vault-todo-detail({todoId:null,vaultId:vault.id})"></a>
  </ion-nav-buttons>
  <ion-content class="vault-form">

    <!--input type="hidden" name="id" value="{{vault.id}}"-->
    <div class="list">
      <div class="row title">
      <label class="col col-75 item item-input ">
        <input type="text" placeholder="Vault category" ng-change="generateInitials()" ng-model="vault.name">
      </label>
      <label class="col col-25 item item-input initials">
        <input type="text" ng-model="vault.label">
      </label>
    </div>
      <label class="item item-input description">
        <textarea placeholder="Additional information" ng-model="vault.description"></textarea>
      </label>
    </div>


    <todo-list items="todos" current-list="vault"></todo-list>

  </ion-content>


</ion-view>
