<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{vault.name ||'New vault category'}}">
  <ion-content class="vault-form">

    <input type="hidden" name="id" value="{{vault.id}}">
    <div class="list">
      <div class="row title">
      <label class="col col-75 item item-input ">
        <input type="text" placeholder="Vault category"  ng-change="updateInitials()" ng-model="vault.title">
      </label>
      <label class="col col-25 item item-input initials">
        <input type="text" value="{{vault.label}}">
      </label>
    </div>
      <label class="item item-input description">
        <textarea placeholder="Additional information" ng-model="vault.description"></textarea>
      </label>
    </div>


    <todo-list items="todos" current-list="vault"></todo-list>

  </ion-content>


</ion-view>
